html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }


/* Genereal */
body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.container {
    width: 1200px;
    margin: 50px auto 50px auto;
}


/* Header */
.header__content {
    display: flex;
    justify-content: space-between;
}

.header__content h1 {
    padding-left: 30px;
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -0.045em;
}

.header__content-info {
    max-width: 439px;
    line-height: 27px;
    margin-bottom: 80px;
}
.header__content-info h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.header__content-info p {
    font-weight: 400;
}


/* Main */
.main__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
}

.card__content {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.card img {
    width: 300px;   
}

.card p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.card:nth-child(3n + 2) {
    margin-top: 160px;
}

.rotated-text {
    display: block;
}

footer {
    margin-top: 150px;
    text-align: center;
    color: #A9A9A9;
}

footer a:nth-child(1) {
    font-weight: 700;
}

footer a {
    color: #A9A9A9;
    transition: all 400ms ease;
}

footer a:hover {
    text-decoration: underline;
    color: #fd488a;
}


/* Media */
@media screen and (max-width: 1300px) {
    .container {
        width: 1000px;
    }
}
@media screen and (max-width: 1080px) {
    .container {
        width: 800px;
    }
    .header__content {
        flex-direction: column;
    }
    .header__content-info {
        margin-bottom: 40px;
    }
    .header__content h1 {
        padding-left: 0;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 920px) {
    .container {
        width: 700px;
    }
}
@media screen and (max-width: 780px) {
    .container {
        width: 580px;
    }
    .main__content {
        grid-template-columns: repeat(2, 1fr);
    }
    .card:nth-child(even) {
        margin-top: 100px;
    }
    .card:nth-child(5) {
        margin-top: 0;
    }
    footer {
        margin-top: 80px;
    }
    .footer__content p {
        font-size: 14px;
    }
}
@media screen and (max-width: 680px) {
    .container {
        width: 480px;
    }
    .card:nth-child(even) {
        margin-top: 70px;
    }
}
@media screen and (max-width: 580px) {
    .container {
        width: 360px;
    }
    .card:nth-child(even) {
        margin-top: 50px;
    }
    .card h3 {
        font-size: 18px;
    }
}
@media screen and (max-width: 440px) {
    .container {
        width: 300px;
    }
    .card:nth-child(even) {
        margin-top: 30px;
    }
    .card h3 {
        font-size: 16px;
    }
}
@media screen and (max-width: 380px) {
    .container {
        width: 270px;
    }
    .card:nth-child(even) {
        margin-top: 10px;
    }
    .card h3 {
        font-size: 16px;
    }
}